@model IEnumerable<A01.Report.Models.RunViewModel>
@{
    ViewData["Title"] = "Runs";
}
<div class="container">
  <table class="bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Creation</th>
        <th>Official</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
          <tr>
            <td>@Html.DisplayFor(modelItem => item.Data.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Data.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Data.Creation)</td>
            @if (item.IsOfficial)
            {
                <td>True</td>
            }
            else
            {
                <td></td>
            }
          </tr>
      }
    </tbody>
  </table>
</div>